[2019-11-24 17:50] lindsaykwardell opened #1 "searchField as an array"
Hello, I'm having some trouble with setting up search fields. Here is my markdown file frontmatter:

[code]

I set up my configuration as follows:

[code]

The field 'tags' is an array in the Markdown files. When I search for a tag, it does not appear to filter by that tag, only by the title. Does this plugin support arrays as a searchField?

[2019-11-25 13:16] thetre97 commented on #1
@lindsaykwardell I have released an update that allows `searchFields` to be an object, so you should be able to do something like https://github.com/nextapps-de/flexsearch/issues/36#issuecomment-507032496

[code]

Not sure if that will work for you - hopefully the new FlexSearch v0.7.0 release will handle searching arrays better.

[2019-11-28 13:03] tomasgil123 opened #2 "Deploy to Netlify"
Im using gridsome-plugin-flexsearch and it works locally, but when I try to deploy it to Netlify I get the following error:
![image](https://user-images.githubusercontent.com/14185059/69808235-d9e34080-11c5-11ea-8f6c-438633c128c1.png)

Im including gridsome-plugin-flexsearch like this in gridsome.config.js

[code]

Any ideas to solve it?

[2019-11-28 17:15] thetre97 commented on #2
Could I check what version of gridsome + this plugin you are using?

[2019-11-28 17:26] tomasgil123 commented on #2
These are my dependencies:
[code]

[2019-11-28 17:32] thetre97 commented on #2
Thanks - I think it is probably because gridsome changed the api recently (from `config.outDir` to `config.outputDir`) so I will add a fallback for that.

[2019-11-28 17:37] tomasgil123 commented on #2
ok, thanks!

[2019-11-28 18:13] thetre97 commented on #2
Just published v0.1.6... Let me know if that fixes it?

[2019-11-28 19:33] tomasgil123 commented on #2
yep, it worked. Thanks man!

[2019-11-28 20:46] #2 closed

[2019-12-11 06:48] kayakmind opened #3 "Can't search on multiple terms"
Thanks for this plugin. I've got it mostly working, but the input field will only accept one word. If I type more than one, no results show. For example, if I type "Dog" get results, but if I type "Dog eats, " I don't get anything.

[2019-12-11 20:31] thetre97 commented on #3
This issue seems to suggest this may be a bug: https://github.com/nextapps-de/flexsearch/issues/96
However, a quick and easy solution might be to add suggest to the search query:

[code]

[2019-12-11 21:20] thetre97 commented on #3
Edit: I just noticed I wasn't actually passing those options in to the client-side plugin properly, so have just released 0.1.8 that should fix this, and multi word search should work properly with the default preset.

[2019-12-12 00:14] kayakmind commented on #3
Thanks Travis! I'll give it a try.

[2019-12-13 01:23] kayakmind commented on #3
It's working. Thanks!

[2019-12-13 15:56] #3 closed

[2019-12-16 04:24] kayakmind opened #4 "Feature request: Clear search results"
Thanks again for making this plugin. I've got it working pretty well on my development site. One thing that I can't figure out is how to clear the search results by either clicking on an X icon or clicking away to another part of the page. Any guidance on that in the documentation would be terrific.

[2019-12-16 07:32] #4 closed

[2019-12-16 07:33] kayakmind commented on #4
I figured it out. I coded it from scratch by creating a button that clears the search input and results on click, but only shows when there is text in the input field.

[2019-12-24 14:05] thetre97 commented on #1
Have also fixed an issue where the client-side FlexSearch instance wasn't using the configured search preset, so you should now be able to to search arrays correctly.

[2019-12-24 14:05] #1 closed

[2019-12-26 16:23] zacklerner opened #12 "TypeError: app.get is not a function"
First off, thanks for the plugin! I'm in the process of implementing search for a site that uses Sanity as a headless CMS and Gridsome for SSG.

I'm getting the following error when running `gridsome develop`:
[code]

Here are the contents of package.json with the versions of Gridsome and the Flexsearch plugin:
[code]

And finally, here's the config of my collection as well as the Flexsearch plugi

[2019-12-26 18:25] thetre97 commented on #12
Hey @zacklerner!

 I believe that the `api.configureServer` hook was added in gridsome `v0.7.3`. So I am afraid that to use this plugin, you will need to update to at least that version...

Let me know if that doesn't fix the issue...

[2019-12-26 18:32] zacklerner commented on #12
@thetre97 That resolved the error! Thanks so much for the quick response.

[2019-12-26 18:32] #12 closed

[2019-12-26 19:04] thetre97 commented on #12
No problem, thanks for raising it - I have added a note about that on the readme...

[2019-12-27 01:18] zacklerner opened #13 "Indexing (and searching within) nested values"
I just finished attempting the fix suggested in this [recently closed issue](https://github.com/thetre97/gridsome-plugin-flexsearch/issues/1), but after rebuilding Flexsearch's index I'm still unable to search for values contained in an array of tags.

To further complicate things the body copy of each post is returned as a value in an array of objects nested within another array of objects. **Is

[2019-12-27 01:32] zacklerner commented on #13
Looks like I may have found the answer I was looking for: https://github.com/nextapps-de/flexsearch/issues/113#issuecomment-555141389

Is the functionality described in that comment something that would be supported by the current iteration of the plugin? If not is it something you plan on supporting? Thanks!

[2019-12-27 02:14] thetre97 commented on #13
So you can't search the `tags` array, when it is added as a search field? That's strange, as I believe it worked on a demo starter I tried - searching through simple arrays like that should be supported out-of-the-box. If that is the case, I'll have a look at it.

And yes - `searchFields` can be an array or an object, both of which are passed directly to the FlexSearch instance. When `0.7.0` is re

[2019-12-29 07:18] cartoonmadrasah opened #14 "Basic Issue - Setup"
I am not being able to generate any search results, I wonder what am I doing wrong here. Here is my setup. Kindly help. Thank you.

![Image 1](https://user-images.githubusercontent.com/7679807/71553630-c0d3e680-2a34-11ea-8cd2-69b7b7785fa3.png)

![Image 2](https://user-images.githubusercontent.com/7679807/71553647-ee209480-2a34-11ea-832e-e202fd60e492.png)

![Image 3](https://user-images.githubuserc

[2019-12-29 19:04] thetre97 commented on #14
Hello @cartoonmadrasah

Do you possibly have a repo I could look at? If not, would you be able to show me the output of a query using that type? I.e.

[code]
Those search fields look as if they may be custom object types, rather than strings/IDs etc?

[2019-12-30 02:45] cartoonmadrasah commented on #14
![Image 4](https://user-images.githubusercontent.com/7679807/71566287-3d6bd100-2ad8-11ea-9842-aa0c251b1572.png)

[2019-12-30 12:43] thetre97 commented on #14
Yes, as I thought those fields are actually objects - in your server file could you do `emirate: Item.emirate['_text']` for each field, so when you query `emirate` it will be a string? Then flexsearch should be able to index it.

[2019-12-31 17:29] zacklerner commented on #13
Thanks for the confirmation! Was just able to test this again with the following settings:
[code]
Also tried:
[code]
Neither of these yield any results despite `tags` being a standard array. The only way I'm able to get any results is if I include `title` in the search fields:
[code]
Even then, only terms indexed within the `title` field yield results. Here's an example of what Flexsearch returns

[2019-12-31 18:48] cartoonmadrasah commented on #14
I tried with the ID field. That did not work. I also tested it with one field using the method you suggested (company_name).

I followed the intructions as they were given but now I have basic question maybe that do I need to also import the library in the main.js or just by calling it on the gridsome.config.js sufficient.

[2019-12-31 22:24] thetre97 commented on #13
Thanks @zacklerner - I have just had time to take a look at it, and you are right. After looking further at [this issue](https://github.com/nextapps-de/flexsearch/issues/36) it seems others had issues with `tags: { encode: "advanced" ...` too, so I tried the `JSON.stringify(array)` suggestion, and that seemed to work.

I have just released `v0.1.10`, which should handle this automatically for you;

[2019-12-31 22:26] thetre97 commented on #14
@cartoonmadrasah please use travis@travisreynolds.dev

The plugin will automatically configure the client for you, so you should just be able to use `this.$search` in your code (or import the included mixin).

[2020-01-01 06:43] cartoonmadrasah commented on #14
I have added you to the repo.

[2020-01-01 18:48] zacklerner commented on #13
Amazing! Reverting back to the original config `searchFields: ['title', 'tags']` works like a charm. Thanks for the quick fix.

[2020-01-01 21:42] thetre97 commented on #14
@cartoonmadrasah Just had a look at that repo, and it all seems to work?
![image](https://user-images.githubusercontent.com/12587127/71646342-e1bf6480-2cde-11ea-913b-9782ff8660d8.png)

searching for the ID won't work, as you need at least 3 characters to start searching... `if (searchTerm.length < 3) return []`  but searching for the company name should work.
Results won't show up in `Search.vue`,

[2020-01-01 21:46] thetre97 commented on #14
P.S. You could also loop through the object keys, converting them to snake case, and setting _text as the direct value:

[code]

[2020-01-02 17:34] cartoonmadrasah commented on #14
Oh wow, thank you so much.

[2020-01-06 21:50] #13 closed

[2020-01-06 21:51] #14 closed

[2020-01-21 09:08] darrylmorley opened #16 "Some Search Terms Not Returning An Expected Result"
Hi,

I have the titles of products added as a search field, whilst some results are returned, not all are. I'm not sure why that would be?

I have in my config:
[code]

[2020-01-21 10:49] thetre97 commented on #16
Sorry - as in titles are being returned in some of the search results, while others aren't? Or some items aren't being found at all by the search?

[2020-01-21 10:51] darrylmorley commented on #16
Sorry, I didn't explain clearly. Titles are not being found by the search.

[2020-01-21 13:50] thetre97 commented on #16
Have you tried different flexsearch profiles? For instance:

[code]

See https://github.com/nextapps-de/flexsearch#presets for more examples

[2020-01-21 14:09] darrylmorley commented on #16
I haven't, I'll give it a try. Thanks.

[2020-01-21 15:08] darrylmorley commented on #16
The issue appears only when built on Netlify?

[2020-01-21 15:48] thetre97 commented on #16
That's very strange - no, I haven't had any issues before. Would you be able to send the site url, so I could have a look?

[2020-01-21 15:49] thetre97 commented on #16
For example, https://gridsome-shopify-starter.netlify.com seems to work fine...

[2020-01-21 15:51] thetre97 commented on #16
I take that back - just checked https://gridsome-shopify-starter.netlify.com, and it seems to have the same issue - nothing is shown at all when I try to search... I'll have a deeper look into this.

[2020-01-21 15:51] darrylmorley commented on #16
Sure, the site is guns.shootingsuppliesltd.co.uk

So if you type 'ber' for beretta, it will work.
But, if you type 'chi' fir chiappa it won't.

[2020-01-21 15:53] thetre97 commented on #16
Just checked the console on yours, and it seems to be throwing an  error - `TypeError: Cannot read property 'FullPath' of undefined`

Perhaps that is why it won't show some results?

[2020-01-21 15:55] darrylmorley commented on #16
No, I've managed to handle that.

Netlify used to fail to build if the api I'm pulling from didn't have an image attached to the product. That's what that error refers to.

[2020-01-21 15:58] thetre97 commented on #16
Okay, but just to check - say there are no images in that array `:v-if="result.images[0].FullPath"`, then FullPath will be undefined - hence the error?
Could you try checking for `:v-if="result.images.length"`?

[2020-01-21 15:59] darrylmorley commented on #16
I have in my server.config:

[code]

[2020-01-21 16:12] thetre97 commented on #16
Hmm, okay - and that does correctly filter it out? If so then that condition should work...
What does `console.log(options)` look like?

This was in the chrome console, when visiting the site.

[2020-01-21 16:14] darrylmorley commented on #16
Hmm,
It should have worked.. lol. The builds used to fail before.
Clearly, there is still an issue here on my end.

[2020-01-21 16:18] thetre97 commented on #16
Sorry, I meant in `api.onCreateNode(options => {`...

[2020-01-21 16:21] darrylmorley commented on #16
Yep, I'm still getting a load of empty arrays :(

[2020-01-21 16:29] thetre97 commented on #16
Ah, just had a thought - the plugin hooks into `onCreateNode`, so probably gets all the nodes before they have been filtered out.
you could try a couple of things - either do:

[code]

Or filter the results using the images length in your search component:

`<figure v-if="result.images.length">`

Or
[code]

[2020-01-21 16:37] darrylmorley commented on #16
That's fixed it:
[code]
Sorry, this wasn't really a plugin issue in the end, more my own. I appreciate your help! Thank you.

[2020-01-21 16:38] thetre97 commented on #16
No worries, you're welcome! 👍

[2020-01-21 16:38] #16 closed

[2020-01-23 09:14] SteveEdson opened #17 "Doesn't respect path prefix"
If the `gridsome.config.js` has a path prefix, such as

[code]

The option is ignored, and the `flexsearch.json` file is still requested from the root of the site.

Also, from a quick look at the json file, it looks like the paths in the results don't have the prefix either.

[2020-01-23 18:49] thetre97 commented on #17
Thanks for raising this @SteveEdson - I hadn't thought about it before.
I have just published `0.1.11` which should add support for this. Would you be able to try this version, to check it works?

[2020-01-23 19:47] SteveEdson commented on #17
Yep, perfect!

Thanks for the quick response

[2020-01-23 19:53] #17 closed

[2020-01-28 03:00] chenhongen opened #19 "Version:0.1.11 - flexsearch.json 404"
when I upgrade to 0.1.11,It can't work and show
 "gridsome.client.js?aebf:3 GET http://localhost:8081/cheese/flexsearch.json 404 (Not Found)" in console.
![image](https://user-images.githubusercontent.com/16499303/73232097-17ac1780-41bd-11ea-80f5-ec532eea1d77.png)

[2020-01-28 03:02] chenhongen commented on #19
And after clean npm cache

[2020-01-28 11:30] thetre97 commented on #19
Sorry for this - could I ask if you have a `pathPrefix` set in your `gridsome.config.js`? If so, it may be that it is trying to use that in development, when it shouldn't.

[2020-01-28 12:18] chenhongen commented on #19
Yes,I set "pathPrefix" in` gridsome.config.js`.It can use normal under version of 0.1.10 in development .But when I deploy it to my site,`flexsearch.json `lose the prefix path again.like this:
![image](https://user-images.githubusercontent.com/16499303/73263180-f2de9100-420a-11ea-8ecd-76658b9a1653.png)

[2020-01-28 12:37] chenhongen commented on #19
So, my question is that with "pathPrefix" in `gridsome.config.js`：
                                0.1.10                 0.1.11
development             √                         x
production                 x                         √

[2020-01-28 12:39] chenhongen commented on #19
So, my question is that with "pathPrefix" in `gridsome.config.js`：
development  0.1.10【√】    0.1.11 【x】
production      0.1.10【x】    0.1.11 【√】

[2020-01-28 15:40] thetre97 commented on #19
I have just published `0.1.12`, which should contain a fix for this. Could you let me know if that works correctly?

[2020-01-29 03:06] chenhongen commented on #19
When I upgraded to `0.1.12`,It worked well in both environment.Thanks

[2020-01-29 03:06] #19 closed

[2020-02-04 14:55] SteveEdson commented on #17
Sorry to re-open this, I've just noticed it still uses the pathPrefix when using `gridsome develop`, it only needs to use it in production build mode, and the develop mode ignores pathPrefix.

Thanks

[2020-02-04 15:20] thetre97 commented on #17
Could I ask if you are using the latest version (`0.1.12`)? I recently pushed an update to fix this (noted in issue #19 )

[2020-02-10 11:07] SteveEdson commented on #17
Ah yeah, perfect. Thanks!

[2020-02-10 12:17] chrispreisler opened #22 "Full Query with Shopify Source Plugin"
Hey guys,

I want to use the flexsearch plugin with a Shopify website. I also use your Shopify Source Plugin for queries to Shopify.

I would like to search through the products. Unfortunately it doesn't creates the full query for one product. Here is an example of one search item from the flexsearch.json:

[code]

As you can see, it doesn't fetch the details of the images or the prices. Also I do

[2020-02-10 15:19] thetre97 commented on #22
Sorry - I'm not sure I understand your issue - the price and image fields do seem to be included in the JSON? Or were you trying to search through those?

It also escapes some characters as it has been `JSON.strinigfied()` - Flexsearch will handle this.

[2020-02-10 15:35] chrispreisler commented on #22
Great thank you very much. Sorry for maybe not describing it perfectly.

[2020-02-25 15:06] chenhongen opened #23 "About Chinese Support"
## What happened
When I search in English keywords that title and content contain,It works well.But When I try Chinese，It didn't work.

### Expected result
Support Chinese

### Environment
gridsome: 0.7.12
gridsome-plugin-flexsearch:0.1.12

[2020-03-02 20:20] thetre97 commented on #23
@chenhongen I should think this is more a flexsearch issue - have you tried checking out their docs?
https://github.com/nextapps-de/flexsearch#add-language-specific-stemmer-andor-filter

[2020-03-03 01:19] chenhongen commented on #23
I find a [issue](https://github.com/nextapps-de/flexsearch/issues/21) in flexsearch about,and change my config to :
[code]
But,It doesn't work in neither  Chinese nor English.It's a correct way to specify optional flexsearch configurations under a flexsearch key like this?

[2020-03-13 16:19] thetre97 commented on #22
@chrispreisler Sorry for the delay on this - still trying to think of a way to solve this, as I need to check if a record (i.e. the linked images) is a collection type, then fetch that specific record from its respective store if so.

[2020-03-13 16:26] thetre97 commented on #23
@chenhongen Sorry for the delay on this, haven't had much spare time recently.
However, I think I know what the issue is here. The flexsearch options are passed to the client as JSON- so you obviously can't pass a function in that object.

I'm currently looking into a solution for this.

[2020-03-16 18:09] jxlstudio opened #27 "Only load flexsearch.json on Search Results page"
My flexsearch.json file is over 400kb, and it loads on every page of my website. Is there a way for me to have it only load on a single designated page?

[2020-03-16 18:21] thetre97 commented on #27
Not at the moment, no - however it won't be that hard to add it as a config option. I'll take a look at it tonight...

[2020-03-16 18:40] jxlstudio commented on #27
@thetre97 I am hosting on Netlify currently, but I am not sure if/how I could/would add that encoding.

[2020-03-16 18:41] thetre97 commented on #27
@jxlstudio Ah, unfortunately I don't think Netlify supports serving that encoding yet.
Zeit Now or Cloudflare Workers Sites does if you are interested.

[2020-03-16 18:46] jxlstudio commented on #27
I have to launch the site by Thursday, probably won't have the time to set it up before then.

If we can figure out the config for the vanilla flexsearch-gridsome plugin it would be awesome. I just have one page that search results are used on.

[2020-03-16 19:25] thetre97 commented on #27
I have just pushed some updates to the develop branch - would you be able to try the updates out in your project? `yarn add thetre97/gridsome-plugin-flexsearch#develop`

I have added a couple of options - chunked mode, and autoFetch.

[code]

Chunk mode will split up the flexsearch index and docs data, to reduce the flexseach.json filesize.
It will split the docs in to arrays of 2000 objects if tr

[2020-03-16 19:56] jxlstudio commented on #27
No errors and everything seems to be working fine.

Page speed score went from 86 to 90.

Thanks! Are you going to push this to master?

[2020-03-17 00:27] thetre97 commented on #27
Great - just pushed `v0.1.15`.

[2020-03-17 00:27] #27 closed

[2020-03-24 15:52] chrispreisler commented on #22
No problem. Thanks for looking into that. 👍

[2020-03-26 13:56] thetre97 commented on #22
Hey @chrispreisler,

Just published `0.1.6`, which should add support for linked fields - would you be able to try this out, and check it works for you?

[2020-03-26 14:51] thetre97 commented on #23
@chenhongen I have just added support for a custom tokenize/encoder function, but it requires a bit of manual setup. Would you be able to test the below, and let me know if it works?

Install `v0.1.17`

Add this configuration in `gridsome.config.js`
[code]

Then in your header/nav/search component, manually setup the flexsearch instance:

[code]

[2020-03-26 16:00] chrispreisler commented on #22
Thank you very much. Will look into that next week.

[2020-03-27 13:44] chrispreisler commented on #22
Hey @thetre97 ,

I tested it right now and for images it is working perfect. Unfortunately for price it is not working.

Is it possible to also create the connection to the price in the query?

[code]

Thanks again for your help in advance.

Best regards
Chris

[2020-03-27 13:55] thetre97 commented on #22
Ah yes, I forgot about doubly nested fields - I will work on that.

[2020-03-27 15:48] chenhongen commented on #23
Good job! Follow your steps，It works well~ thx

[2020-03-27 15:48] #23 closed

[2020-03-31 12:51] gridsome-user opened #31 ""TypeError: Cannot read property 'search' of undefined""
I deployed gridsome-plugin-flexsearch.

I updated the gridsome.config.js file with:

I added the blocks below on my vue page:
[code]

[code]

My Graphql query is
[code]

When I tried to access to this page, I have errors:

[code]

It seems the Search function is not recognized.

[2020-04-01 12:46] thetre97 commented on #31
@gridsome-user Did you try it with the mixin? And could I check what version of the plugin you are using?

I did use to get that error as it took a while for the Flexsearch instance to setup, but I thought I had fixed that. If you could provide a demo repo I could look at where that error happens, it would be great.

[2020-04-01 18:00] gridsome-user commented on #31
I have the same issue with Mixin.
I use the last version 0.1.18
I have Gridsome  v0.7.13

When I installed it, I had this warning:

I will try to provide you a demo repo.

[2020-04-01 23:07] arincon9 commented on #22
Would this fix an issue with a collection reference being pulled in?

[2020-04-01 23:45] arincon9 opened #32 "Use with the @paginate directive"
How would I use this plugin with the `@paginate` directive?

I essentially want to paginate the results from the flexsearch.

[2020-04-02 22:12] thetre97 commented on #32
You wouldn't be able to use the Gridsome paginate directive, but Flexsearch does have built-in pagination - see: https://github.com/nextapps-de/flexsearch#pagination.

[2020-04-02 22:15] thetre97 commented on #22
@arincon9 If it is more than one object deep, yes.

[2020-04-03 00:06] thetre97 commented on #22
Hey @chrispreisler @arincon9 - just released `0.1.19`. Would you be able to try that, and check it fixes your problem.

[2020-04-03 00:13] arincon9 commented on #22
@thetre97 This release actually breaks my build. I get the following error:

`RangeError: Maximum call stack size exceeded`

[code]

[2020-04-03 00:31] thetre97 commented on #22
@arincon9 Does your array field have relations in it? I.e. something like this:

[code]

[2020-04-03 00:37] arincon9 commented on #22
@thetre97 I have a workout collection with a trainer id field and a trainer reference as such:
`workoutCollection.addReference('trainer', 'Trainers')`

[2020-04-03 07:28] chrispreisler commented on #22
@thetre97  Thank you so much. For me it is now working perfect.

[2020-04-03 16:01] thetre97 commented on #22
@arincon9 And does the Trainer type have the reverse relation or workouts?
I'm not sure why it would be throwing this error, but will keep looking into it.

[2020-04-15 10:48] thetre97 commented on #32
@arincon9 Did the above help?

[2020-04-15 10:49] thetre97 commented on #31
@gridsome-user Are you still having this issue? I have released a new version since this issue, could you try that if so?

[2020-04-15 10:49] #22 closed

[2020-04-16 23:20] jimmyangel commented on #27
Hi, first, thank you for a great plugin. It works great!

Could you please give a more explicit example of manually setting up flexsearch? I would like to completely skip loading the plug-in (and the data) but only for specific browsers (e.g., IE).

Thank you.

[2020-04-24 14:20] Schoell opened #34 "Wrong result index when searching in more than one collection?"
I want to search in more than one collection - for example:

    use: 'gridsome-plugin-flexsearch',
    options: {
    collections: [
        {
          typeName: 'Faqs',
          indexName: 'Faqs',
          fields: ['question', 'answer']
        },
        {
          typeName: 'Topics',
          indexName: 'Topics',
          fields: ['title', 'content']
        }
    ],
    searchFields: ['

[2020-04-24 22:02] thetre97 commented on #34
So just to ensure I understand you correctly - in your data, there could potentially be two items with the id 3, but have different types...?

You should be able to specify a stricter search if needed, using https://github.com/nextapps-de/flexsearch#where, so you could specify that index = Topics.

[2020-04-27 12:07] Schoell commented on #34
yes, we use Directus CMS as data source The IDs of the nodes are assigned individually per collection. Therefore there are always nodes with the same ID of a certain collection.

Is this possible, using you plugin?

[2020-04-27 15:08] dosstx opened #35 "Demo available?"
Would be great to see a demo of it in action. Thanks.

[2020-04-29 00:41] thetre97 commented on #34
@Schoell It is, yes - you will just need to update your search function. I.e:

[code]

[2020-04-29 00:44] thetre97 commented on #35
@dosstx A demo is available here: https://gridsome-shopify-starter.netlify.app (Try searching for shirt/top etc)

[2020-04-29 00:45] #32 closed

[2020-04-29 14:48] Schoell commented on #34
The problem is the same ID in the search index. That means there is a FAQ with ID 1 and a TOPIC with ID 1. To solve the problem, the IDs must be extended by the collection type.

I.e. FAQ with ID FAQ1 and TOPIC with ID TOPIC1.

In the gridsome.server.js in line 56 I have extended the IDs. With this it works.

      const doc = {
        index: index.indexName,
        id: node.id+index.indexName,

[2020-04-30 14:06] chrispreisler opened #37 "Load search index, when component is shown."
Hey,

I would like to load the search index, when the user opens a search overlay on a page. The overlay can be opened from different routes, so I can't use the autoFetch with defining pathes. As I understand your text right I can set the autoFetch to false and then load the search index in someway. Do you have an example for that or can point me in the right direction?

Thank you very much for yo

[2020-05-01 14:59] thetre97 commented on #37
That's correct - if you look at this line here: https://github.com/thetre97/gridsome-plugin-flexsearch/blob/2d166f5e7fce275ba7b2f8597b0a3ed416578c1b/gridsome.client.js#L10 that shows an example of how to fetch the json.

You could do something like:
[code]

[2020-05-01 14:59] #35 closed

[2020-05-01 15:00] #31 closed

[2020-05-01 15:01] thetre97 commented on #34
Ah, I get your problem now. Could you use `onCreateNode` to edit your id's as above?

[2020-05-01 15:49] chrispreisler commented on #37
Thank you so much. Included it right now and it works perfectly.

[2020-05-01 15:49] #37 closed

[2020-05-04 12:50] PeterSchoell commented on #34
No, because we create the nodes using the Directus Plugin. But with the modification above it works fine.

[2020-05-05 12:51] thetre97 commented on #34
Even when using a source plugin, you can use the `onCreateNode` api to edit nodes - but if your solution works, then that's fine.

[2020-05-08 12:54] darrylmorley opened #38 "Strange Issue trying to return url from searchResults array."
Hi,

I have a really weird issue. I have the below available in my searchResults array.
[code]
When I try to select an image to display in my search results, it selects the characters rather than the url.
I have  ```<g-image :src="`${result.images[0].FullPath}`" :alt="`${result.title}`" />``` to select my image, this returns undefined.
If I change this a little to ```<g-image :src="`${result.image

[2020-05-11 17:49] thetre97 commented on #38
Is that array the exact result you get from your search results? As you can see, it is actually a string - note the `"` either side of the array. So when you do `[0]`, it selects the first character.

I'll have a look into this, as to why it isn't parsing the array properly. Could you paste your flexsearch config here please?

[2020-05-11 17:54] darrylmorley commented on #38
Ahh yes I see, so it is. My config is:
[code]

[2020-05-12 20:27] thetre97 commented on #38
I have fixed this in a new version (which includes a number of updates), but am awaiting for a PR in Gridsome. For now you could just do `JSON.parse(<result>.images)` which will return the array.

[2020-05-13 00:06] adamJLev opened #39 "JSON compression maybe not ideal - ends up in more data transfer"
Hi there @thetre97 ,

First of all thanks for your lib its been quite handy! 😄

I was curious about the JSON compression you added to the lib recently, and did some testing of my own - and as it turns out, the raw json file is smaller -  but after gzipping its actually bigger!

Makes sense since GZIP does well with repetitive data.  And since gridsome usually gets deployed to a CDN, gzip is a give

[2020-05-13 17:44] darrylmorley commented on #38
Thanks for your help!

[2020-05-13 20:38] thetre97 commented on #38
Yes, sorry - I haven't actually released the update yet...

[2020-05-14 09:10] darrylmorley commented on #38
Ha, I ran an update which upgraded your plugin I figured you had released it. Sorry.

[2020-05-14 10:03] thetre97 commented on #39
@adamJLev Thanks for this, those results are interesting.

I believe I added it for my own sake as I had an ecommerce site with ~7k products, so the flexsearch JSON was huge (~20mb) and the compression really did help. I agree though, perhaps it is better to have it as a non-default option, in the case of smaller sites.

[2020-05-18 11:06] #38 closed

[2020-05-26 15:32] #34 closed

[2020-05-26 15:32] #39 closed

[2020-06-12 16:21] jxlstudio opened #41 "Getting error RangeError: Maximum call stack size exceeded after upgrading to Gridsome 0.7.17"
Error happens when running Develop mode.

[code]

[code]

[2020-06-12 16:23] jxlstudio commented on #41
Also, I'm not using Algolia, it is not included in my config file.

[2020-06-12 17:01] jxlstudio commented on #41
So I tried commenting out certain types of entries to see what works and what doesn't, and have it boiled down to only 3 entry types, still can't figure out why these types are triggering the error.

[2020-06-15 23:32] thetre97 commented on #41
@jxlstudio That's strange, but thanks for reporting - would you be able to paste your gridsome config please?

[2020-06-18 05:00] renepardon opened #42 "(node:4305) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'constructor' of undefined"
Hello,
just wanted to test this plugin to see if it fits my needs but got this nice stack trace as soon as I add it to gridsome.config:

[code]

[2020-06-18 07:11] noxify commented on #42
@renepardon could you please share some more details with us?

It would be good if you can share the information from `gridsome info`.

[2020-06-18 07:17] renepardon commented on #42
Hello @noxify
of course, should not be a secret ;)

[code]

[2020-06-18 07:19] renepardon commented on #42
and the **gridsome.config.js**:

[code]

[2020-06-18 07:23] renepardon commented on #42
May I also ask if there is a way to search content of file based component pages? Most of the pages are not coming from a CMS/GraphQL etc. They are just hard  coded. I would like to search them as well. Or at least the corresponding meta data which I add like this:

[code]

kind regards

[2020-06-18 07:39] noxify commented on #42
If I'm not wrong, you're using gridsome `0.7.12`.

Could you please upgrade to a newer version, since the plugin requires >0.7.15 with plugin version >=1.0.0.

[2020-06-18 07:50] renepardon commented on #42
I updated to latest gridsome version: "gridsome": "^0.7.17",

Now I get this error: ;(

**TypeError: Cannot read property 'constructor' of undefined**

with this stacktrace:

[code]

gridsome info:
[code]

[2020-06-18 08:07] noxify commented on #42
Any chance to get access to your repo?

[2020-06-18 08:08] renepardon commented on #42
sorry, this is a customer project in my private GIT server.

[2020-06-18 08:16] renepardon commented on #42
If there is something else i could provide, just tell me. I cleared _node_modules_ and did a fresh _yarn install_ which resulted in the above **gridsome info** output.

[2020-06-18 08:36] renepardon commented on #42
ok, found it: when I remove **collections** key from the configuration, then it builds without further error..

[2020-06-18 08:38] noxify commented on #42
but your search shouldn't isn't working now - or?

[2020-06-18 08:42] renepardon commented on #42
I have my data security page with _typeName_ **StaticPage**. If I configure this one within collections it works perfectly and fast. The only question left now is, how I'm able to search my file based components (pages). Because they are not within a collection and developed programmatically. :)

Maybe there is a way to create a collection out of the html contents from file based pages which are s

[2020-06-18 09:00] noxify commented on #42
@renepardon - Maybe creating a new issue for this question is a better idea?
Your initial problem is solved?

[2020-06-18 09:00] #42 closed

[2020-06-18 09:00] renepardon opened #43 "[Help/Feature Request] search static file/component based pages"
Is there a way to also search file based pages? Would be nice if the HTML/Text contents can be parsed and searched without a collection

[2020-06-19 10:15] renepardon commented on #43
I developed a custom solution for https://acv-container.de/uebersicht/ in the top bar. Within gridsome.server.js I use the collection api to create a new collection, search with "glob" for all *.vue files within the src/pages/ directory, and add a node for every found page to the collection by parsing the .vue files with _@vuese/parser_. This collection is then searchable with gridsome-plugin-flex

[2020-06-19 10:15] #43 closed

[2020-06-23 15:53] Michael-Brooks opened #44 "Netlify fails to build "TypeError: Object.fromEntries is not a function""
I have run `gridsome build` and `gridsome develop` locally and the search is working fine for me. However, when I go to deploy my site, I get the error "TypeError: Object.fromEntries is not a function" in my Netlify console.

Here's a link to my website's configuration https://github.com/Michael-Brooks/michaelbrooks.co.uk/blob/master/gridsome.config.js

And here's more info to the error from the N

[2020-06-23 16:03] hacknug commented on #44
@Michael-Brooks pretty sure this is due your project using an old Node version. Try adding an `.nvmrc` file or setting the env variable `NODE_VERSION`.

[2020-06-23 16:20] Michael-Brooks commented on #44
Haha thank you, I always thought it automatically updated itself which wouldn't really make sense for a lot of people. I've deployed now.

[2020-06-23 16:20] #44 closed

[2020-06-30 00:15] vootrunner opened #45 "TypeError: Object.fromEntries is not a function - after upgrading to gridsome v0.7.17"
[code]

[2020-06-30 00:18] vootrunner commented on #45
Config:

[code]

[2020-06-30 00:20] vootrunner commented on #45
I'm able to reproduce this with a fresh gridsome install using the 'gridsome-starter-liebling' theme. No changes, just install and run `gridsome develop`

[2020-06-30 07:10] noxify commented on #45
Hi @vootrunner ,

i'm not able to reproduce the issue.
Tested it with the mentioned starter ( used also a fresh install ).

Both CLI commands ( `gridsome develop` and `gridsome build` ) are working without any errors.

Here my `gridsome info` output:

[code]

[2020-06-30 10:01] thetre97 commented on #45
Hey @vootrunner - what version of Node are you using? This plugin requires at least v12.

[2020-06-30 13:14] vootrunner commented on #45
[code]

Sorry for the false alarm. I trusted the version bundled with Ubuntu 20.04 to be a recent version.

[2020-06-30 13:14] #45 closed

[2020-06-30 15:11] chrispreisler opened #46 "Error when manually fetching flexsearch.json after upgrading to version 1.0.1"
Hey @thetre97,

I am manually fetching the flexsearch.json, how you recommended to me in #37

After upgrading to the newest version unfortunately I get the following error:

<img width="799" alt="Bildschirmfoto 2020-06-30 um 17 03 11" src="https://user-images.githubusercontent.com/5261762/86143041-360f9980-baf4-11ea-9494-696a83807941.png">

When setting autoFetch to true the search is working as e

[2020-06-30 20:02] thetre97 commented on #46
You can check the latest updates in this file: https://github.com/thetre97/gridsome-plugin-flexsearch/blob/508f8dd8ec53ec8d0473f746671952aa2df87299/gridsome.client.js#L13
The issue is probably because I changed the default `compress` option to false, so unless you specifically set that to true, you don't need to do `cjson.decompress(j)` anymore.

[2020-07-01 07:01] chrispreisler commented on #46
Ah I see, thank you very much. Now it is working.

[2020-07-01 07:01] #46 closed

[2020-07-05 09:15] backurdi opened #47 "Image src is wrong"
I have built an app using forestry, I use the @gridsome/source-filesystem to get the data. It works fine when I just fetch the data using graphql. But when I get the data using gridsome-plugin-flexsearch then the src is wrong, it returns the src on my local machine. I think it has something to do with the src of the data.

Expected data (As returned when just fetching data with graphql)
/assets/st

[2020-07-07 14:20] keeev commented on #42
Sorry if I comment on this closed issue but currently I seem to have the same problem. With `collections` added in **gridsome.config.js** it doesn't work and throws the same error like you mentioned. If I remove it, it of course doesn't work at all.

Just wondering:
- What's the best way to search the collections if not like it's mentioned in the docs?
- Is it possible that [this](https://github.c

[2020-07-07 16:12] thetre97 commented on #42
@keeev You have the same issue in that you are trying to search through manually created pages?

[2020-07-07 16:13] thetre97 commented on #47
@backurdi That's strange, but thanks for reporting it - i'll take a look at this.

[2020-07-07 16:39] keeev commented on #42
@thetre97 nope, in my case they are automatically generated by Gridsome.
I adapted my code according to your shopify-starter repo but it still throws the same error as soon as I add the collections.
Maybe it's just my lack of knowledge for Gridsome or GraphQL but I guess the returned `flexsearch.json` looks like it would at least try to fill name, handle, subtitle and description (see screenshot a

[2020-07-07 17:12] thetre97 commented on #42
@keeev It generally throws that error if it can't find that collection/typeName - are you sure it's not the singular `Event` for example?

[2020-07-08 07:05] backurdi commented on #47
Thank you @thetre97, looking forward to hear what you find 😄

[2020-07-08 11:16] keeev commented on #42
@thetre97 that's a good question. I used the airtable-starter which, as it looks like, loads as many `edges` as requested via the pagination:

<img width="255" alt="Screenshot 2020-07-08 13 13 29" src="https://user-images.githubusercontent.com/246284/86912243-f3197b80-c11c-11ea-8e8e-e1f35a523a0a.png">

Could it be a problem, that the `page-query` actually has nothing to do with the collection I re

[2020-07-08 12:28] thetre97 commented on #42
@keeev That is right yes - it isn't really anything to do with the query as such. It needs the GraphQL `typename` of those nodes. You can find this out in the GraphQL explorer, or by add ing the `__typename` field inside the query (`node { id, __typename }`), but as your query is `allEvent` I am guessing the `typename` is `Event`.

Try using `Event` as the `typeName` config option, and let me know

[2020-07-10 15:14] keeev commented on #42
@thetre97 ha, perfect. That worked thanks. Guess it's a good idea to re-read the documentation of Gridsome and collections anyway.

Unfortunately the GraphQL explorer doesn't work for my starter at the moment due to

`  "error": "Unexpected token < in JSON at position 0"`

But as soon as I have fixed that I will definitely check that.

Thanks for maintaining the plugin. This saved me so much time

[2020-07-11 17:50] SahilMaharaj opened #48 "Getting Object.fromEntries is not a function when deploying in Netlify"
Hi there,

All works fine on my local but when deploying I get the following:

TypeError: Object.fromEntries is not a function
at collectionStore.data.map.node (/opt/build/repo/node_modules/gridsome-plugin-flexsearch/gridsome.server.js:72:26)
at Array.map (<anonymous>)
at getStoreCollection (/opt/build/repo/node_modules/gridsome-plugin-flexsearch/gridsome.server.js:56:35)
at collection (/opt/build

[2020-07-11 17:52] SahilMaharaj commented on #48
My gridsome.config.js

module.exports = {
  siteName: 'Gridsome',
  plugins: [
    {
      use: '@gridsome/vue-remark',
      options: {
        typeName: 'Cities', // Required
        baseDir: './cities', // Where .md files are located
        pathPrefix: '/cities', // Add route prefix. Optional
        template: './src/templates/Cities.vue', // Optional
      }
    },
    {
      use: '@gridsome

[2020-07-11 22:03] thetre97 commented on #48
This plugin requires at least Node version 12 - if you are using s version below that, then `Object.fromEntries` will be undefined.

Could you try upgrading Node, and see if that works?

[2020-07-12 01:35] thetre97 commented on #48
Sorry, just saw you said it was showing that on deploy - you will need to set the node version in the build environment, for example adding a `NODE_VERSION` env on Netlify.

[2020-07-12 10:19] SahilMaharaj commented on #48
That did the trick, thanks mate!

[2020-07-12 10:19] #48 closed

[2020-07-12 16:47] ramsesgarate opened #49 "Problem configuring FlexSearch"
I am trying to configure the plugin in my project [Repo ramsesgarate.com]( https://github.com/ramsesgarate/ramsesgarate.com).

I just installed the plugin, set it up following the prompts:

[code]

And I'm testing it in a view like so:

[code]

When I run the `gridsome develop` command I get the following error:

[code]

I can't find what the error may be, could you guide me, thanks.

[2020-07-12 20:31] thetre97 commented on #49
@ramsesgarate You will need to use  node version that is `>=12.x`.

[2020-07-12 23:03] ramsesgarate commented on #49
Thanks man

[2020-07-12 23:03] #49 closed

[2020-07-13 22:53] ramsesgarate opened #50 "Field date"
Hello, I have problems with the date fields, it comes empty, any idea what it could be? I have no problem with any other, just this one.

This is my configuration:
[code]

This is the result of a search

[code]

[2020-07-16 17:56] ramsesgarate opened #51 "Tags object"
Currently this is my plugin configuration:

[code]

Is there any way that the tag output would look like this?
[code]

Currently returns an array with only the title
[code]

I was trying to use a query like I suggested on the plugin page, but I think I didn't configure it well, because it doesn't generate any results for me, so I decided to continue with the normal configuration.

[2020-07-20 20:00] thetre97 commented on #51
@ramsesgarate Thanks for reporting this. I hadn't tested it with the source filesystem -> refs config, it seems that it creates that relation after this plugin fetches the nodes. I'll try and take a look at this.

[2020-07-20 20:02] thetre97 commented on #50
@ramsesgarate Also missed this - the date is returned as a timestamp, so I just need to update the plugin to make sure it is stored as a string.

[2020-07-20 20:15] thetre97 commented on #50
Just fixed this - will release an update soon.

[2020-07-20 20:15] #50 closed

[2020-07-26 23:26] hqdrone opened #53 "Not work with Cyrillic"
Hi, I'm from Russia and want to add flexsearch plugin on my Gridsome blog(https://frontips.ru/) but it's not work with Cyrillic encode

If I type text on English language I get result but if I type on Russian language Post Title not founding

[code]

How can I solve this problem?

[2020-07-31 12:12] thetre97 commented on #53
Hello @hqdrone

Please check the FlexSearch documentation for this - for example https://github.com/nextapps-de/flexsearch/issues/51.

You can also probably follow similar steps to #23

[2020-08-11 09:55] thetre97 commented on #41
@jxlstudio Do you still have this issue? I haven't seen this issue at all on any other sites.

[2020-08-19 12:19] #53 closed

[2020-09-17 14:45] ziopod opened #56 "Deal with custom field resolvers"
Hi,

I have some [custom field resolvers](https://gridsome.org/docs/schema-api/#add-custom-field-resolvers) in my `gridsome.server.js`. I can figure how can get my custom field with flexSearch.

Do i use the righ way?

Custom field resolver example:
[code]

Gridsome plugin Flexsearch configuration (`gridsome.config.js`):
[code]

Excpected result:

[code]

Obtained :
[code]

If someone has a clue,

[2020-09-18 16:42] thetre97 commented on #56
Hey @ziopod,
This plugin pulls data directly from the store, so it will never hit any graphql resolvers.
You could either transform this data before it goes into the store with `onCreateNode`, or you could use the GraphQL instructions here https://github.com/thetre97/gridsome-plugin-flexsearch#graphql-source which will get data using the Gridsome `graphql` function, so it will then hit those resol

[2020-09-18 16:43] thetre97 commented on #41
@jxlstudio Did you see the above comments?

[2020-09-28 01:08] #41 closed

[2020-09-28 01:08] #56 closed

[2020-09-28 01:11] thetre97 commented on #47
Sorry for not replying earlier, but this is to do with Gridsome's asset pipeline, which runs _after_ this plugin gets data from the store - so it will only get the relative path to the image, never the transformed image.

Unfortunately, I'm not sure what I can do here.

[2020-10-23 12:39] adamJLev opened #57 "Is there a way to search by a nested object value?"
For example like the `author.name` example below.
I think this used to work in an earlier version...  did it get removed?
thank you!

[code]

[2020-10-23 17:25] kcole93 opened #58 "Only certain fields are successfully added to the Flexsearch Index, despite configuration"
I'm experiencing an odd issue whereby only the `id`, `path` and `slug` fields of a collection are being added to each item in the flexsearch index, with all other fields being ignored.

[code]

Upon running `gridsome develop`, I am notified that, as expected, all nodes in my collection were successfully added to the search index, but upon inspecting flexsearch.json, only the above three fields are

[2020-10-26 00:05] thetre97 commented on #58
@kcole93 That is odd - I don't suppose you have a public repo I could test this out on, or a codesandbox reproduction?

[2020-10-26 00:26] thetre97 commented on #57
@adamJLev I'm not sure that there is at the moment, I haven't yet added support for it. I'll look into that though.
I don;t think that this plugin has ever supported searching in nested fields? It does support nested fields for the search result though.

[2020-10-29 18:50] kcole93 commented on #58
I've added you to a repo, but I think I've figured it out. There appears to be a _name_space issue with the word `name`. When I changed the field's name to `documentName`, everything works as expected 🤦‍♂️.

[2020-11-01 15:56] #58 closed

[2020-11-08 10:56] VeliV commented on #47
Would it be possible to run the the plugin after the build is done?

[2020-11-08 15:52] thetre97 commented on #47
I do intend to update this plugin when I get a bit of time, to use the internal `graphql` function to query data, instead of getting it from the store. That way, it will get the correct image data, and resolve any relations etc as well - which will help solve #56, and #51

[2020-11-08 16:12] VeliV commented on #47
That's be great :) I have a hobby site (https://panzercraft.com/) that relies heavily on images. Been playign around with adding search there, but as the site is so image heavy, not being able to get the images show up when searching is a show stopper.

[2020-11-08 23:00] thetre97 commented on #47
@backurdi @VeliV I have just made some changes to this plugin on the `graphql` branch - if you have the time, would you be able to test this, and check it works for you?

[2020-11-08 23:04] thetre97 commented on #51
@ramsesgarate I have made some updates to this plugin on the `graphql` branch - if you get the time, could you check to see if it fixes this issue for you?

[2020-11-09 01:52] gilesbutler opened #60 "Results effected by searchFields order"
Hey @thetre97 thanks for this awesome plugin.

We're getting a really strange issue with not getting the results we expect.

When we search for "school" we expect to see 3 results but we're only getting the following 2...

![CleanShot 2020-11-09 at 12 41 19@2x](https://user-images.githubusercontent.com/790734/98491425-e5b9fc80-2288-11eb-9956-1a6cda7eec33.jpg)

I messed around trying different flex

[2020-11-10 23:24] thetre97 commented on #60
@gilesbutler That's very strange - not sure what the issue is there, but this plugin shouldn't affect the search indexing/results etc at all, so may be a config issue. Have you tried playing around with any of the flexsearch profile options at all? https://github.com/nextapps-de/flexsearch#presets

[2020-11-12 00:56] gilesbutler commented on #60
Thanks for getting back to me @thetre97 - Yep I tried all the different flexsearch presets and they didn't change the results at all which I thought was strange.

In the end we've added a `searchMeta` field on all of our models in dato which the users can add a bunch of keywords too. We're now just searching on the `searchMeta` field and the `title` field. I've had to add `searchMeta` field before

[2020-11-12 23:42] thetre97 commented on #60
Seems this may be a flexsearch issue - see https://github.com/nextapps-de/flexsearch/issues/70 for example...

[2020-11-13 00:11] gilesbutler commented on #60
Ah good find @thetre97! I didn't find that issue when searching their repo. I'll keep an eye on it.

[2020-11-25 22:47] vsimko opened #61 "Causes UnhandledPromiseRejectionWarning in @gridsome\source-filesystem"
When flexsearch is enabled, it is not possible to edit markdown files and at the same time to see the content being hot-reloaded in the browser.

See this issue: https://github.com/gridsome/gridsome/issues/1223

[2020-12-06 01:07] Hamdy opened #62 "Using Gridsome-graphql-source with flexsearch not workin"
Hi my use case is like the following

[code]

[code]

now  the above does not work, because `path: 'allBlog.edges',` this is a list of edges where each edge contains a property called `node` which actually is the actual node
I had to do something here https://github.com/thetre97/gridsome-plugin-flexsearch/blob/main/gridsome.server.js#L107
[code]

my question is this a bug, or is there a way throug

[2020-12-11 02:12] thetre97 commented on #62
@Hamdy Sorry for the delay, but no, I'm afraid it doesn't support that yet.
I've been making some updates recently, so I'll look into that...

[2020-12-15 19:21] jrpersico-spurred opened #63 "How to make it work with Contentful Source"
First of all thank you for this great plugin!

Can you tell me how to make it work with Contentful Source?

[2020-12-16 02:09] thetre97 commented on #63
Hey @jrpersico-spurred, you should be able to use it as usual, you just need to configure the correct types to add - you can see available types by checking the GraphQL explorer. For example, you may have `ContentfulPost`, which you would then configure like so:
[code]

[2020-12-16 02:11] #60 closed

[2020-12-16 06:27] stefandesu commented on #60
Hi @thetre97, I'm the one who opened the issue on the Flexsearch repo that you mentioned. Have you found a fix for this? Or is it fixed in 0.7.0? Thanks!

[2020-12-16 10:53] jrpersico-spurred commented on #63
Thank you for your reply.

I had misunderstood how to set indexName and typeName.

[2020-12-16 10:54] #63 closed

[2020-12-16 12:20] thetre97 commented on #60
Hey @stefandesu I haven't, no - I hadn't looked for a fix, as I assumed it was purely a FlexSearch issue...
There does seem to be some big changes in `0.7.0`, so perhaps it will be...

[2020-12-18 11:26] yanuha commented on #57
I have a similar question. Search doesn't work for a nested object value content.text :-(

Search for 'title' works but not for 'content.text'

gridsome settings:
[code]

The official documentation has something about this -
https://github.com/nextapps-de/flexsearch#complex-objects

[2020-12-19 06:40] findborg opened #64 "Asking for a little help setting up with a section built with strapi"
I am trying to merge a section from that uses the strapi backend to generate content.  I was wondering if anyone could help me get the results to show up?

I can not get the const done right.  I have tried all day today to get it to work.  Sometimes you just need a lesson.

Here is the query part.  I left out my miserable attempt at the const.

[code]

[2020-12-21 17:40] thetre97 commented on #64
I'm afraid I'm not sure how that code fits with this plugin?
Checkout the readme if you want to know how to add a collection to the FlexSearch index...

[2021-01-20 15:21] #64 closed

[2021-02-27 13:49] thetre97 commented on #57
@adamJLev Does the above PR help with your usecase?

[2021-02-27 15:08] SupremeSalvatore commented on #61
Any progress on this? Still cant manage to hot reaload content when i edit md files.

[2021-02-28 18:51] alexander-heimbuch commented on #57
I've added the helper with PR #66 to the GraphQL source.

[2021-03-01 09:44] vsimko commented on #61
Here is a dirty workaround which disables flexsearch in dev mode:
[code]

[2021-03-01 17:26] SupremeSalvatore commented on #61
Thanks for workaround @vsimko , like you mentioned its not happy solution since then you cant do flex search but in my case markdown is changed more often, so at least we can toggle it now.

[2021-03-14 18:41] #57 closed

[2021-05-13 22:33] #47 closed

[2021-05-13 22:33] #51 closed

[2021-05-13 22:47] thetre97 commented on #62
I'm stopping support for the remote schema option, so closing this.

[2021-05-13 22:47] #62 closed

[2021-05-14 08:46] RehanSaeed opened #71 "v2 Causes undefined Error"
I'm trying to upgrade to v2 and am getting the following error upon building:

![image](https://user-images.githubusercontent.com/2270364/118245873-32c99600-b499-11eb-95a8-cde3a4a6e462.png)

[2021-05-14 22:08] thetre97 commented on #71
Hey @RehanSaeed - Would you mind posting your `gridsome.config.js` please?

[2021-05-15 11:57] RehanSaeed commented on #71
It's all on GitHub here:
https://github.com/RehanSaeed/rehansaeed.github.io/blob/main/gridsome.config.js

[2021-05-21 13:57] thetre97 commented on #71
Sorry for the delay on this. Have just fixed the issue though, and released a patch version - `2.0.1`.
I've tested it out on your repo, and it seems to build okay now.

[2021-05-24 08:31] RehanSaeed commented on #71
Gave 2.0.1 a try. It now compiles fine and I can search to get results back but the `result.path` or `result.node.permalink` values are `undefined`.

[2021-05-24 08:50] mschmidtkorth commented on #71
Thanks a lot by the way for introducing the GraphQL layer, @thetre97!

[2021-05-26 16:09] thetre97 commented on #71
Ah, that is actually one big change I have made - apologies, I should have put that into the release notes.
The plugin doesn't automatically add the path field anymore, so you will have to add path or permalink to your collection fields, then you can access them from `node.<field>`.

[2021-05-27 09:29] RehanSaeed commented on #71
That worked, thanks.

[2021-05-27 09:29] #71 closed

[2021-06-08 19:37] jxlstudio commented on #41
I never really fixed this, I just didn't index the problem collection.

I just upgraded this flexsearch plugin, and am now having the issue with a different collection.

It seems that when a field has multiple nested values in its array, it gives me the "RangeError: Maximum call stack size exceeded" error.

The config is below, I have inserted a comment where the problem is with additional notes.

[2021-08-04 12:49] Samii-Noden opened #73 "Cannot read property 'map' of undefined"
I'm not sure what I'm doing wrong here - I'm trying to transform the schema to enable searching in nested data structures but I just keep getting the above error.

gridsome.config.js
![image](https://user-images.githubusercontent.com/67465800/128183163-4d0d6514-a67d-4fcf-b171-fbdb0581a80a.png)

error message received on 'gridsome develop'
![image](https://user-images.githubusercontent.com/67465800

[2021-08-07 10:14] thetre97 commented on #73
If you log `collection`, does it return an array of authors? IF so, could you paste what it does log?

[2021-08-09 08:15] Samii-Noden commented on #73
I'm not sure I'm following, sorry. Log it in what way?

[2021-08-10 12:46] thetre97 commented on #73
Something like this:
[code]

[2021-08-10 17:40] Samii-Noden commented on #73
Ah I see what you mean - the above code logs the whole object but only for one post(?). So it's returning everything from title to featuredMedia etc

The below is a test post with the error message at the bottom.

[Object: null prototype] {
  id: '7442',
  title: 'Yoast Post',
  slug: 'yoast-post',
  path: '/resources/news/yoast-post/',
  featuredMedia: [Object: null prototype] {
    id: '7560',

[2021-08-10 23:30] thetre97 commented on #73
Okay - so that shows author as an object, not an array? So you can't run an array method (like `map`) on an object...

[2021-08-16 08:19] Samii-Noden commented on #73
Ah of course - so will I not be able to search on categories, tags, authors or acf? Or is there another way to include child objects within the parent object?

[2021-08-16 21:38] thetre97 commented on #73
You should be able to, just specifying 'author' in the search fields should automatically fetch the nested author object, and index it...

[2021-08-17 10:18] Samii-Noden commented on #73
Hmmm - it's not working. It turns out that categories and tags are arrays so they are fine using the map method. I just can't search by author or advanced custom fields - they're both definitely in there

searchFields: [
          'title',
          'tags',
          'type',
          'author',
          'category',
          'excerpt',
          'content',
          'slug',
          'path',

[2021-08-20 19:30] thetre97 commented on #73
Hmm, okay - I'll take a look into this when I get a chance.

Incidentally, you could just return the authors name by using the function option - I.e. `author: collection.author.name`

[2021-08-23 09:27] Samii-Noden commented on #73
I have no idea why I didn't think of that in the first place - that works for me and I'm happy to take that as a solution.

Thanks so much for your help!

[2021-08-24 15:33] thetre97 commented on #73
Great - I'll keep this open to remind me to check why it doesn't index nested objects, although it may be a flexsearch config needed.

[2021-09-05 18:46] thetre97 commented on #73
Think I may have a solution for this - like arrays, nested objects can be stringified, so Flexsearch will then parse that data as a string.

@Samii-Noden If you have time, would you be able to test out this fix (`v2.0.2`) to see if it works for you?

[2021-09-06 12:07] Samii-Noden commented on #73
Yeah I can give it a test - so would it be a case of just specifying 'authors' in the searchFields array without having to do author: collection.author.name in the collection?

[2021-09-06 13:39] thetre97 commented on #73
Great, thanks 🙂 yes, that is correct...

Although bear in mind it will index every single field under author, so you may still want to filter out some fields by returning an object with the transform function - I.e.
[code]

[2021-09-10 10:51] Samii-Noden commented on #73
Thank you - that appears to work!

[2021-09-10 13:33] #73 closed

[2021-10-17 11:50] louis-l opened #75 "Support callback function or regex in autoFetch"
Hi,

Thanks for the awesome plugin.
I have a use case where the search component is shared in multiple pages (e.g. /docs/my-help-article-1...)
I checked https://github.com/thetre97/gridsome-plugin-flexsearch/blob/main/gridsome.client.js#L67 and it seems like the `autoFetch` is being "hard checked".
So my suggestion is to support a callback function or regex or prefix (e.g. "/docs/*").

Cheers,

[2021-10-19 18:53] thetre97 commented on #75
Hey @louis-l - good suggestion. Feel free to create a PR, or I will work on this when I get a chance.

[2021-10-19 21:32] louis-l commented on #75
@thetre97

Here you go: https://github.com/thetre97/gridsome-plugin-flexsearch/pull/76

[2022-06-16 19:50] rickbsgu opened #80 "Not working with gridsome upgrade to 0.7.23"
Worked famously in prior (old) version.  Trying to upgrade side, but the flexsearch plugin not working.

Here's my package.json
[code]

and the flexsearch plugin part of my gridsome.config.js:
[code]

I tried removing the args after 'searchFields', with no change.

[2022-06-16 23:51] rickbsgu commented on #80
Hmm.  I'm reading change notes I found [here](https://www.opensourceagenda.com/projects/gridsome-plugin-flexsearch/versions) that suggests it might have something to do with the v1.0.0 changes.

It's been a long while since I looked at this, so I'm having to sift through the source, again.

I think the relevant piece is this:

[code]
Looking at it...

[2022-06-17 18:27] rickbsgu commented on #80
Ok, I realized what was happening.  Got caught by a couple of upgrade changes.  Is working good.

[2022-07-20 20:49] adrawerofthings commented on #23
To augment this (very helpful thread), I found a snippet of code that will make the flexsearch support both Latin alphabet (English) and CJK (Chinese) in the same search box:

https://github.com/alex-shpak/hugo-book/issues/80#issuecomment-621053508

Just apply it both in gridsome.config.js as well as in the search component in place of `return str.replace(/[\x00-\x7F]/g, "").split("")`